* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search-text {
  height: 1em;
}

.hide {
  display: none;
}

.main-weather {
  height: 1em;
  text-align: center;
}

.weather-info {
  border-radius: 5px;
  background: rgba(82, 82, 230, 0.521);
  height: 80vh;
  color: white;

  .info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .info {
      text-align: center;
      width: 50%;
      height: 100%;
      padding: 1em;

      .info-text {
        font-size: 1.5em;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(41, 34, 34, 0.9);
  border-bottom: 16px solid rgba(41, 34, 34, 0.9);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
